<div class="form-group">
    <label class="col-md-2 control-label">联系电话</label>
    <div class="col-md-9">
        <label><input class="form-control input-large" type="text" name="data[tel]" value="{$data['tel']}"></label>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">客服QQ</label>
    <div class="col-md-9">
        <label><input class="form-control input-large" type="text" name="data[qq]" value="{$data['qq']}"></label>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">电子邮箱</label>
    <div class="col-md-9">
        <label><input class="form-control input-large" type="text" name="data[email]" value="{$data['email']}"></label>
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">公司底部介绍</label>
    <div class="col-md-9">
        <textarea class="form-control" style="height:100px" name="data[dbjs]">{$data['dbjs']}</textarea>
    </div>
</div>
